.vscode/*
doc/scratch
ext/*
out/*
scripts/.env
src/main/fonts/*
src/main/secrets.h
src/playground/*
test/__pycache__
test/connect_device_package
test/log.html
test/output.xml
test/report.html
test/connect_device_package
.built
.depend
bicycleComputer-on-spresense.code-workspace

secrets.h

*.o
*.d
